/*.markdown-body img {
  max-width: 100%;
}*/

/*.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  position: relative;
  cursor: pointer;
  &:before {
    content: "#";
    color: #42b983;
    position: absolute;
    left: -0.7em;
    top: 2px;
    font-size: 1.2em;
    font-weight: bold;
  }
}*/

/*.markdown-body {
  a {
    color: #42b983;
    font-weight: 600;
  }
}*/
